<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IthakaHack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>298A12B41E6957AD005CA8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>298A12CD1E6957AE005CA8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>298A12D81E6957AE005CA8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
